<div class="convert-panel">
  <div class="convert-panel__title">Currency Exchanger</div>

  <form [formGroup]="formState.form" (submit)="convert()" class="convert-panel__form block">
    <div class="convert-panel__form--col-1">
      <div class="convert-panel__field">
        <label for="amount">Amount</label>
        <input [formControl]="formState.ammount" type="number" id="amount" />
      </div>
      <div class="convert-panel__form-compare block">
        1.00 {{ formState.from.value }} = {{ unity | number : '1.2-2' }} {{ formState.to.value }}
      </div>
    </div>

    <div class="convert-panel__form--col-2">
      <div class="convert-panel__flex-line">
        <div class="convert-panel__field">
          <label for="from">From</label>
          <select [formControl]="formState.from" id="from" [attr.disabled]="!formState.ammount.valid ? '' : null">
            <option *ngFor="let currency of currencies" [ngValue]="currency.value">
              {{ currency.value }} - {{ currency.description }}
            </option>
          </select>
        </div>

        <button
          (click)="changeCurrencies()"
          [disabled]="!formState.ammount.valid"
          type="button"
          class="convert-panel__form-change-currencys">
          &#10234;
        </button>

        <div class="convert-panel__field">
          <label for="to">To</label>
          <select [formControl]="formState.to" id="to" [attr.disabled]="!formState.ammount.valid ? '' : null">
            <option *ngFor="let currency of currencies" [ngValue]="currency.value">
              {{ currency.value }} - {{ currency.description }}
            </option>
          </select>
        </div>
      </div>

      <button
        [disabled]="!formState.form.valid"
        type="submit"
        class="convert-panel__form-convert main-button">
          Convert
      </button>

      <div class="convert-panel__flex-line">
        <div class="convert-panel__form-result block">
          {{ result | number : '1.2-2' }} {{ formState.to.value }}
        </div>
      </div>
    </div>
  </form>
</div>
