<div class="historical-rates-chart">
  <div class="historical-rates-chart__col">
    <app-year-chart
      *appLoading="!fromChartData.length;prefix:'Loading'"
      [data]="fromChartData" [title]="fromCurrencyDescription"
      [seriesName]="formState.from.value">
    </app-year-chart>
  </div>
  <div class="historical-rates-chart__col">
    <app-year-chart
      *appLoading="!toChartData.length;prefix:'Loading'"
      [data]="toChartData" [title]="toCurrencyDescription"
      [seriesName]="formState.to.value">
    </app-year-chart>
  </div>
</div>
