@import 'base/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: map-get($spacing, '02');

  background-color: map-get($colors, 'dark-gray1');
  color: map-get($colors, 'white');
  font-family: Arial;
  font-size: map-get($fontSize, '03');
}

.block {
  border: 1px solid map-get($colors, 'white');
  border-radius: 4px;
  padding: map-get($spacing, '03');
  overflow: hidden;
  min-height: map-get($spacing, '07');
}

input, select {
  height: map-get($spacing, '07');
  background-color: map-get($colors, 'dark-gray1');;
  border: 1px solid map-get($colors, 'white');
  border-radius: 4px;
  color: map-get($colors, 'white');
}

input {
  text-align: center;
}

.main-button {
  display: inline-block;
  background-color: map-get($colors, 'blue');
  color: map-get($colors, 'white');;
  border: 0;
  border-radius: 2px;
  height: map-get($spacing, '07');
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: map-get($spacing, '03');
}

.main-button:disabled {
  background-color: map-get($colors, 'blue2');
}
