@import 'base/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: map-get($spacing, '02');

  background-color: map-get($colors, 'dark-gray1');
  color: map-get($colors, 'white');
  font-family: Arial;
  font-size: map-get($fontSize, '03');
}

.block {
  border: 1px solid map-get($colors, 'white');
  border-radius: 4px;
  padding: map-get($spacing, '03');
  overflow: hidden;
  min-height: map-get($spacing, '07');
}
